.login-bg {
  position: fixed;
  z-index: -1;
  top: 0;

  height: 100vh;
  width: 100vw;

  overflow: hidden;

  background: url("https://upload.wikimedia.org/wikipedia/commons/d/d6/Ella%2C_Sri_Lanka%2C_Mountains_under_clouds.jpg") no-repeat center;
  background-size: cover;
}

.login-card {

  margin: 128px auto 0 auto;

  width: 330px;
  height: 360px;

  background: white;

  border-radius: 20px;

  .login-elements {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 8px;

    padding-bottom: 64px;

    h1 {
      font-family: source-code-pro, serif;
      font-weight: 300;
    }

    button {
      width: 70%;
      height: 48px;

      background-color: #1a1aff;

      color: white;
      font-size: 18px;

      margin-top: 16px;

      border-radius: 8px;
      border-width: 0;

      cursor: pointer;

      transition: all .15s ease;
    }
    button:hover {
      background-color: #1111c0;
    }
    button:focus {
      background-color: #1111c0;
    }
    button:active {
      width: 65%;
      height: 46px;
    }

    input {
      width: 70%;
      height: 48px;

      padding-left: 8px;

      font-size: 18px;

      border-radius: 8px;
      border: black 1px solid;
    }
    input:focus {
      outline: none;
      border-width: 2px;
    }

  }
}
